.nav-item{
    width: fit-content;
    text-align: center;
    margin: auto 10px;
    color: rgba(255, 255, 255, 0.3)
}

.nav-item:hover{
    color: #fff,
}

.nav-left{
    margin-right: auto;
    display: flex;
}

.nav-right{
    display: flex;
}

.nav-item-left{
    float: left;
}

.nav-item-right{
    float: right;
}

.nav-item p{
    margin: 0;
}

.nav-title{
    margin: 0;
    margin-right: 16px;
    float: left;
}

.nav-bar{
    width: 100%;
    padding: 24px 200px;
    display: flex;
    align-items: center;
    background-color:#2D2D37;
    color: #fff;
}

.nav-bar * a{
    text-decoration: none;
    color: inherit;
}

.active{
    color: #fff;
}